:root {
  --main-font-family: "Inter";
  --primary-font-family: "Karla";
  --main-color: #fff;
  --primary-color: #00eac7;
  --tetriary-color: #bccbd6;
}

html {
  /* background-color: hsl(210, 40%, 96%);  */
  background-color: #111b24;
  font-family: var(--main-font-family);
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: var(--primary-font-family);
}

/* nav styles */

nav {
  padding: 20px 82px;
  background: #111b2450;
  backdrop-filter: blur(37.5px);
  position: fixed;
  z-index: 3;
  width: 100%;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav__link {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}
@media screen and (max-width: 1060px) and (min-width: 636px) {
  nav {
    display: inline-flex;
  }
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: inline-flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* ueseful */
.description {
  font-family: var(--main-font-family);
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 8.5px;
  text-transform: uppercase;
}

.description--bold {
  font-weight: 800;
}

.subheader,
.headline,
.description {
  margin-top: 5px;
  margin-bottom: 5px;
}

.subheader {
  color: var(--primary-color);
  font-size: 14px;
}
.headline {
  font-size: 55px;
  font-weight: 700;
  line-height: normal;
  color: var(--main-color);
}

.headline--small {
  font-size: 17px;
  font-weight: 500;
  line-height: 23.4px; /* 137.647% */
  letter-spacing: 0.9px;
}

.headline--accent {
  display: block;
  color: var(--primary-color);
  font-weight: 700;
}

.headline--bold {
  font-weight: bold;
}

.headline-secondary {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
  line-height: 39.44px; /* 119.515% */
  letter-spacing: 0.85px;
}
.headline--underline {
  position: relative;
}

.headline--underline::after {
  content: "";
  width: 64px;
  height: 2px;
  /* background-color: var(--c-title-underline-color); */
  background: var(--primary-color);
  position: absolute;
  bottom: -15px;
  left: 0;
}

.paragraph {
  color: var(--tetriary-color);
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px; /* 150% */
  letter-spacing: 0.64px;
}
.paragraph--small {
  font-size: 14px;
  line-height: 21.12px; /* 150% */
  letter-spacing: 0.64px;
}

@media screen and (max-width: 636px) {
  .headline {
    font-size: 42px;
  }

  .headline--small {
    font-size: 15px;
  }

  .description {
    font-size: 16px;
  }
}

/* Helpers */
.margin-top-30 {
  margin-top: 30px;
}
