---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/hero.astro';
import HeroBackground from '../assets/hero-background.png';
import { Image, Picture } from '@astrojs/image/components';
const pageTitle = "Home Page";


---

<style>


.hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.hero__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}



</style>
<BaseLayout>
  <section class="hero">
  <Hero 
    subheadline="COIG S.A" 
    headline="COIG CYBER" 
    headlineAccent="Security" 
    description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom"
    > 
    <p class="description description--bold"> Bepieczeństwa</p>
  </Hero>  
  <div class="hero__image-wrapper">
     <Picture class="hero__image"
        src={HeroBackground}
        widths={[352, 352, 352]}
        sizes="(max-width: 800px) 453px, 352px"
        alt="descriptive text"
      />
  </div>
    </section>
    <section class="hero">
      <Hero 
        subheadline="COIG S.A" 
        headline="COIG CYBER" 
        headlineAccent="Security" 
        description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom"
        > 
        <p class="description"> Bepieczeństwa</p>
      </Hero>  
        </section>
        <section class="hero">
          <Hero 
            subheadline="COIG S.A" 
            headline="COIG CYBER" 
            headlineAccent="Security" 
            description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom"
            > 
            <p class="description"> Bepieczeństwa</p>
          </Hero>  
            </section>

</BaseLayout>