---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/hero.astro';
import HeroBackground from '../assets/hero-background.png';
import { Image, Picture } from '@astrojs/image/components';
const pageTitle = "Home Page";


---

<style>
.hero {
  display: flex;
    width: 100%;
    justify-content: space-between;
}

img.hero__image {
  position: absolute;
  z-index: 1;
  top: 0;
}

</style>
<BaseLayout>
  <section class="hero">
  <Hero 
    subheadline="COIG S.A" 
    headline="COIG CYBER" 
    headlineAccent="Security" 
    description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom bezpieczeństwa"
     />  

     <Picture class="hero__image"
  src={HeroBackground}
  widths={[352, 453, 453]}
  sizes="(max-width: 800px) 453px, 453px"
  alt="descriptive text"
/>
    </section>
</BaseLayout>