---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import HeroBackground from '../assets/hero-background.png';
import CyberPadlock from '../assets/cyber-padlock.png';
import { Image, Picture } from '@astrojs/image/components';
import TwoColRow from '../components/TwoColRow.astro';
import CenteredCol from '../components/CenteredCol.astro';
const pageTitle = "Home Page";


---

<style>


.hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}


.hero__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1024px) { 
  .hero__image-wrapper {
  position: relative;
}
}


</style>
<BaseLayout>
  <section class="hero">
  <Hero 
    subheadline="COIG S.A" 
    headline="COIG CYBER" 
    headlineAccent="Security" 
    description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom"
    descriptionAccent="bezpieczeństwa"
    > 
  </Hero>  
  <div class="hero__image-wrapper">
     <Picture class="hero__image"
        src={HeroBackground}
        widths={[352, 352, 352]}
        sizes="(max-width: 800px) 253px, 453px"
        alt="descriptive text"
      />
  </div>
    </section>
    <section>
      <TwoColRow 
      headline="cyberbezpieczeństwa" headlineAccent="Usługi", description="Zwiększ bezpieczeństwo w swojej firmie. Wybierz zestaw usług stosowny do potrzeb:"
      image={CyberPadlock.src}
      />

    </section>
    <section>
      <CenteredCol
      headline="i jej zagrożenia" 
      headlineAccent="Sieć", 
      description="We współczesnej gospodarce informacja jest nie tylko zasobem ekonomicznym niezbędnym do funkcjonowania ale współdecyduje o potencjale ekonomicznym i możliwościach rozwojowych."
      descriptionSecond="Gromadzenie i przetwarzanie danych w formie elektronicznej powoduje, że są one podatne na nowy rodzaj zagrożeń ze strony cyberprzestępców. Nie ma dziś rozwiązań, które zagwarantują pełne bezpieczeństwo informacji, ale my wiemy jak zapewnić ich najwyższą ochronę."
      descriptionThird="Bezpieczeństwo informatyczne to zapewnienie:" />
    </section>

</BaseLayout>