---
---
<style>
.nav__link {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

</style>


<div class="nav-links">
    <a class="nav__link" href="/">SOC</a>
    <a class="nav__link" href="/about/">Audyt IT</a> 
    <a class="nav__link" href="/tags/">Pentesty</a>
    <a class="nav__link" href="/tags/">CSIRT COIG</a>
    <a class="nav__link" href="/tags/">Kontakt</a>
    <a class="nav__link" href="/tags/">Coig S.A</a>
    <a class="nav__link" href="/blog/">News</a>
</div>